stages:
  - build
  - deploy

build-flatpak:
  image: black0/flatpak
  stage: build
  before_script:
    - git submodule update --init --recursive
  script:
    - cd flatpak
    - flatpak-builder --force-clean --repo=repo build-dir org.eu.encom.spectral.yaml
    - flatpak build-bundle repo spectral.flatpak org.eu.encom.spectral
    - cd ../
  artifacts:
    paths:
    - flatpak/spectral.flatpak

build-appimage:
  image: rabits/qt:5.11-desktop
  stage: build
  before_script:
    - sudo apt-get update
    - sudo apt-get install -y wget libpulse-dev fuse libxi6
    - git submodule update --init --recursive
    - wget https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage
    - chmod +x linuxdeployqt-continuous-x86_64.AppImage
  script:
    - qmake PREFIX=deploy
    - make
    - make install
    - ./linuxdeployqt-continuous-x86_64.AppImage deploy/share/applications/org.eu.encom.spectral.desktop -appimage -qmldir=qml -qmldir=imports
  artifacts:
    paths:
    - Spectral-x86_64.AppImage