stages:
  - build
  - deploy

build-flatpak:
  image: black0/flatpak
  stage: build
  before_script:
    - git submodule update --init --recursive
  script:
    - cd flatpak
    - flatpak-builder --force-clean --repo=repo build-dir org.eu.encom.spectral.yaml
    - flatpak build-bundle repo spectral.flatpak org.eu.encom.spectral
    - cd ../
  artifacts:
    paths:
    - flatpak/spectral.flatpak

build-appimage:
  image: black0/qt
  stage: build
  before_script:
    - git submodule update --init --recursive
  script:
    - /opt/qt512/bin/qt512-env.sh
    - /opt/qt512/bin/qmake CONFIG+=debug CONFIG+=qml_debug PREFIX=/usr
    - make
    - make INSTALL_ROOT=appdir install
    - /usr/bin/linuxdeployqt-continuous-x86_64.AppImage appdir/usr/share/applications/org.eu.encom.spectral.desktop -appimage -qmldir=qml -qmldir=imports -qmake=/opt/qt512/bin/qmake
  artifacts:
    paths:
    - Spectral*.AppImage
