stages:
  - build
  - deploy

build-flatpak:
  image: black0/flatpak
  stage: build
  before_script:
    - git submodule update --init --recursive
  script:
    - cd flatpak
    - flatpak-builder --force-clean --repo=repo build-dir org.eu.encom.spectral.yaml
    - flatpak build-bundle repo spectral.flatpak org.eu.encom.spectral
    - cd ../
  artifacts:
    paths:
    - flatpak/spectral.flatpak

build-appimage:
  image: ubuntu:bionic
  stage: build
  before_script:
    - apt-get update
    - apt-get install software-properties-common -y
    - add-apt-repository ppa:beineri/opt-qt-5.11.1-bionic -y
    - apt-get update
    - apt-get install qt511base qt511graphicaleffects qt511multimedia qt511quickcontrols2 git wget -y
    - source /opt/qt*/bin/qt*-env.sh
    - wget -c -nv "https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage"
    - chmod a+x linuxdeployqt-continuous-x86_64.AppImage
    - git submodule update --init --recursive
  script:
    - qmake CONFIG+=release PREFIX=deploy
    - make
    - make install
    - ./linuxdeployqt-continuous-x86_64.AppImage deploy/share/applications/org.eu.encom.spectral.desktop -appimage -qmldir=qml -qmldir=imports
  artifacts:
    paths:
    - Spectral-x86_64.AppImage