[submodule "include/SortFilterProxyModel"]
	path = include/SortFilterProxyModel
	url = https://gitlab.com/b0/SortFilterProxyModel.git
[submodule "include/libQuotient"]
	path = include/libQuotient
	url = https://github.com/quotient-im/libQuotient.git
[submodule "include/qtkeychain"]
	path = include/qtkeychain
	url = https://github.com/frankosterfeld/qtkeychain.git
