stages:
  - build
  - deploy
  
build-native:
  image: registry.gitlab.com/b0/matrique/qt
  stage: build
  before_script:
    - git submodule update --init --recursive
  script:
    - mkdir -p build && cd build
    - qmake ../matrique.pro -spec linux-g++ CONFIG+=qtquickcompiler
    - make -j4
  artifacts:
    paths:
    - build

build-flatpak:
  image: registry.gitlab.com/b0/matrique/flatpak
  stage: build
  before_script:
    - git submodule update --init --recursive
  script:
    - cd flatpak
    - flatpak-builder build-dir org.eu.encom.matrique.json --force-clean
    - cd ../
  artifacts:
    paths:
    - flatpak/build-dir
    
deploy-flatpak:
  only:
  - master
  tags:
  - deploy-flatpak
  script:
  - echo "Nothing to do..."