stages:
  - build
  - deploy
  
build-native:
  image: registry.gitlab.com/b0/matrique/qt
  stage: build
  before_script:
    - git submodule update --init --recursive
  script:
    - mkdir -p build && cd build
    - qmake ../matrique.pro -spec linux-g++ CONFIG+=qtquickcompiler
    - make -j4
  artifacts:
    paths:
    - build/matrique

build-flatpak:
  image: registry.gitlab.com/b0/matrique/flatpak
  stage: build
  before_script:
    - git submodule update --init --recursive
  script:
    - cd flatpak
    - flatpak-builder --force-clean --repo=repo build-dir org.eu.encom.matrique.yaml
    - flatpak build-bundle repo matrique.flatpak org.eu.encom.matrique
    - cd ../
  artifacts:
    paths:
    - flatpak/matrique.flatpak
