stages:
  - build
  - deploy

build-flatpak:
  image: black0/flatpak
  stage: build
  before_script:
    - git submodule update --init --recursive
  script:
    - cd flatpak
    - flatpak-builder --force-clean --repo=repo build-dir org.eu.encom.spectral.yaml
    - flatpak build-bundle repo spectral.flatpak org.eu.encom.spectral
    - cd ../
  artifacts:
    paths:
    - flatpak/spectral.flatpak

build-appimage:
  image: black0/qt
  stage: build
  before_script:
    - git submodule update --init --recursive
  script:
    - /opt/qt511/bin/qt511-env.sh
    - /opt/qt511/bin/qmake CONFIG+=release CONFIG+=qtquickcompiler PREFIX=~/deploy
    - make
    - make install
    - /usr/bin/linuxdeployqt-continuous-x86_64.AppImage ~/deploy/share/applications/org.eu.encom.spectral.desktop -appimage -qmldir=qml -qmldir=imports -qmake=/opt/qt511/bin/qmake
  artifacts:
    paths:
    - Spectral-x86_64.AppImage