[submodule "include/SortFilterProxyModel"]
	path = include/SortFilterProxyModel
	url = https://gitlab.com/b0/SortFilterProxyModel
[submodule "include/libqmatrixclient"]
	path = include/libqmatrixclient
	url = https://github.com/QMatrixClient/libqmatrixclient
