language: cpp

matrix:
  include:
  - os: osx
    env: [ 'ENV_EVAL="brew update && brew install qt5 && PATH=/usr/local/opt/qt/bin:$PATH"', 'DEPLOY_DIR="deploy"' ]

install:
- eval "${ENV_EVAL}"
- git submodule update --init --recursive

script:
- qmake matrique.pro PREFIX="${DEPLOY_DIR}"
- make
- make install
- macdeployqt ${DEPLOY_DIR}/bin/matrique.app -dmg -qmldir=qml
- tar czvf matrique.tar.gz ${DEPLOY_DIR}

deploy:
  - provider: bintray
    file: .ci/bintray-release.json
    user: $BINTRAY_USER
    key:
      secure: $BINTRAY_TOKEN
    skip_cleanup: true
