[Desktop Entry]
Name=Matrique
GenericName=Matrix Client
Comment=IM client for the Matrix protocol
Exec=matrique
Terminal=false
Icon=org.eu.encom.matrique
Type=Application
Categories=Network;InstantMessaging;
