[Desktop Entry]
Name=Spectral
GenericName=Matrix Client
Comment=IM client for the Matrix protocol
Exec=spectral
Terminal=false
Icon=org.eu.encom.spectral
Type=Application
Categories=Network;InstantMessaging;
Name[en_US]=org.eu.encom.spectral.desktop
