[Desktop Entry]
Name=Neochat
Name[ca]=Neochat
Name[es]=Neochat
Name[nl]=Neochat
Name[nn]=Neochat
Name[pt]=Neochat
Name[sv]=Neochat
Name[uk]=Neochat
Name[x-test]=xxNeochatxx
GenericName=Matrix Client
GenericName[ca]=Client del Matrix
GenericName[ca@valencia]=Client del Matrix
GenericName[es]=Cliente para Matrix
GenericName[fr]=Client « Matrix »
GenericName[nl]=Matrix-client
GenericName[nn]=Matrix-klient
GenericName[pt]=Cliente de Matrix
GenericName[sl]=Odjemalec Matrix
GenericName[sv]=Matrix-klient
GenericName[uk]=Клієнт Matrix
GenericName[x-test]=xxMatrix Clientxx
Comment=Client for the Matrix protocol
Comment[ca]=Client per al protocol Matrix
Comment[es]=Cliente para el protocolo Matrix
Comment[nl]=Client voor het Matrix-protocol
Comment[nn]=Lynmeldings­klient for Matrix-protokollen
Comment[pt]=Cliente para o protocolo Matrix
Comment[sl]=Odjemalec za protokol Matrix
Comment[sv]=Klient för protokollet Matrix
Comment[uk]=Клієнт протоколу Matrix
Comment[x-test]=xxClient for the Matrix protocolxx
Exec=neochat
Terminal=false
Icon=neochat
Type=Application
Categories=Network;InstantMessaging;
