[Desktop Entry]
Name=Neochat
GenericName=Matrix Client
GenericName[ca]=Client del Matrix
GenericName[ca@valencia]=Client del Matrix
GenericName[es]=Cliente para Matrix
GenericName[fr]=Client « Matrix »
GenericName[nl]=Matrix-client
GenericName[nn]=Matrix-klient
GenericName[pt]=Cliente de Matrix
GenericName[sl]=Odjemalec Matrix
GenericName[sv]=Matrix-klient
GenericName[uk]=Клієнт Matrix
GenericName[x-test]=xxMatrix Clientxx
Comment=Client for the Matrix protocol
Exec=neochat
Terminal=false
Icon=org.kde.neochat
Type=Application
Categories=Network;InstantMessaging;
