[Desktop Entry]
Name=Spectral
Name[ca]=Spectral
Name[ca@valencia]=Spectral
Name[es]=Spectral
Name[nl]=Spectral
Name[nn]=Spectral
Name[pt]=Spectral
Name[sv]=Spectral
Name[uk]=Spectral
Name[x-test]=xxSpectralxx
GenericName=Matrix Client
GenericName[ca]=Client del Matrix
GenericName[ca@valencia]=Client del Matrix
GenericName[es]=Cliente para Matrix
GenericName[nl]=Matrix-client
GenericName[nn]=Matrix-klient
GenericName[pt]=Cliente de Matrix
GenericName[sv]=Matrix-klient
GenericName[uk]=Клієнт Matrix
GenericName[x-test]=xxMatrix Clientxx
Comment=IM client for the Matrix protocol
Comment[ca]=Client de MI per al protocol Matrix
Comment[ca@valencia]=Client de MI per al protocol Matrix
Comment[es]=Cliente de MI para el protocolo Matrix
Comment[nl]=IM-client voor het Matrix-protocol
Comment[nn]=Lynmeldings­klient for Matrix-protokollen
Comment[pt]=Cliente de MI para o protocolo Matrix
Comment[sv]=Direktmeddelandeklient för protokollet Matrix
Comment[uk]=Клієнт служби миттєвого обміну повідомленнями для протоколу Matrix
Comment[x-test]=xxIM client for the Matrix protocolxx
Exec=spectral
Terminal=false
Icon=org.eu.encom.spectral
Type=Application
Categories=Network;InstantMessaging;
