[Desktop Entry]
Name=Spectral
Name[ca]=Spectral
Name[ca@valencia]=Spectral
Name[nl]=Spectral
Name[uk]=Spectral
Name[x-test]=xxSpectralxx
GenericName=Matrix Client
GenericName[ca]=Client del Matrix
GenericName[ca@valencia]=Client del Matrix
GenericName[nl]=Matrix-client
GenericName[uk]=Клієнт Matrix
GenericName[x-test]=xxMatrix Clientxx
Comment=IM client for the Matrix protocol
Comment[ca]=Client de MI per al protocol Matrix
Comment[ca@valencia]=Client de MI per al protocol Matrix
Comment[nl]=IM-client voor het Matrix-protocol
Comment[uk]=Клієнт служби миттєвого обміну повідомленнями для протоколу Matrix
Comment[x-test]=xxIM client for the Matrix protocolxx
Exec=spectral
Terminal=false
Icon=org.eu.encom.spectral
Type=Application
Categories=Network;InstantMessaging;
